/*

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap);

*{
    background:#F3F5FC;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
    
}

.logo{
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    width: 10%;

}

.titulo{
    width: 20%;
    font-size: 18px;
    margin-left: 130px;
    color:#0A3871;
}

main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;

}


/* section{
    width: 40%;
    height: 100%;
} */

.section1{
    color: #c9c0c0;
    width: 100%;
    height: 70%;
    margin-right: 174px;
}

.section2{
    background-color: #ffffff;
    border-radius: 20px;
}
#resultado{
    height: 490px;
    width: 400px;
}

.text-area{
    background-color: #ffffff;
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    font-size: 25px;
    font-weight: bold;
    color:#0A3871;
   /* text-transform: lowercase; */
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 20px;
}


::placeholder{
    color: #0A3871;
}

.mensaje{
    height: 630px;
    background: white;
    background-image: url("/Imagenes/.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.text-area focus{
    
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}


.botonEnc{
    font-size: 20px;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}


.botonDesnc{  /* antes boton2 */
    font-size: 20px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;    
}

/* Esto va dentro de mensaje y no se usara con su propio selector de clase Pasa a .mensaje
.muneco{
    background: #f0ecec;
    margin-bottom: 2px;
    width: 75%;
    height: 50%;
    padding-top:2px;
    padding-bottom: 2px;
    margin-right: 155px;
    border-radius: 7px;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}
*/


.texto-creado{    /*areaCopiar*/
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    font-size: 18px;
    box-sizing: border-box;
    margin-left:0px;
    text-align: justify;
    text-align: center;
}


#btnCopiar{
    width: 328px;
    height: 40px;

}
.boton3{     /* antes Boton Copiar */
    font-size: 20px;
    width: 328px;
    height: 40px;
    margin-left: 30px;
    margin-top: 160px;
    background: #0A3871;
    border: 1px solid #0a3871;
    border-radius: 16px;
    color: white;
    cursor:pointer;
}




.texto-informativo{
    font-size: 18px;
    color: rgb(15, 5, 150);
    margin-left: 160px;
    padding-bottom: 3px; 
}


.texto-creado p{
    text-align: center;
}

/*.texto-creado{
    background-color: #f1f1f1;
    width: 100%;
    height: 200%;
    font-size: 18px;
    box-sizing: border-box;
    margin-left:0px;
    text-align: justify;
    
}
*/

footer{
    width: 100%;
    height: 70%;
    text-align: center;
    background: url(imagenes/LogoONEG5.png);
    margin-top: 75px;
    margin-left: 630px;
    padding-left: 40px;
    padding-top: 5px;
    display: flex;
}

.gh{
    width: 60%;
    height: 60%;
    padding-top: 7px;
    margin-top: 7px;
}

.copyright{
    background: none;
    text-align: center;
    color: #080000;
    font-size: 10px;
    font-weight: bold;
    margin: 20px;
    margin-left: 145px;
    padding-top: 16px;
}

.ocultar{
    display: none;
}

@media screen and (max-width:480px){
   
    .section1, .section2 {
        width: auto;
    }
    .muneco, .frame{
        width: 50%;
    }
   
}
